@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .display-size {
    @apply text-e-12xl leading-[120%] lg:leading-[100%] tracking-[-0.15rem] lg:text-e-15xl;
  }
  h1,
  .heading-1 {
    @apply text-e-11xl lg:text-e-12xl;
  }
  h2,
  .heading-2 {
    @apply text-e-7xl lg:text-e-11xl;
  }
  h3,
  .heading-3 {
    @apply text-e-8xl lg:text-e-10xl;
  }
  h4,
  .heading-4 {
    @apply text-e-9xl;
  }
  h5,
  .heading-5 {
    @apply text-e-8xl;
  }
  h6,
  .heading-6 {
    @apply text-e-4xl;
  }
  p,
  .p {
    @apply text-e-lg;
  }

  @font-face {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/Helvetica.woff) format("woff2");
  }

  html,
  body,
  #root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica";
  }

  .spacer {
    display: inline-block;
    width: 1.5rem; /* Adjust this to control spacing */
  }
}

@layer utilities {
  .mask-horizontal {
    @apply [mask-image:linear-gradient(to_right,rgba(0,0,0,0)_0%,rgba(0,0,0,1)_20%,rgba(0,0,0,1)_80%,rgba(0,0,0,0)_100%)]
           [mask-size:cover]
           [mask-repeat:no-repeat];
  }

  .mask-vertical {
    @apply [mask-image:linear-gradient(to_bottom,rgba(0,0,0,0)_0%,rgba(0,0,0,1)_20%,rgba(0,0,0,1)_80%,rgba(0,0,0,0)_100%)]
           [mask-size:cover]
           [mask-repeat:no-repeat];
  }

  .paused .animate-scrollX,
  .paused .animate-scrollY {
    animation-play-state: paused !important;
  }

  .reverse-x {
    animation-direction: reverse;
    animation-delay: -3s;
  }
}
