---
import Scene from "../components/react/Scene";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Three.js Test" showPreloaderBol={false}>
  <main class="w-full h-screen">
    <Scene client:load />
  </main>
</Layout>
