---
import Scene from "./react/Scene";

const { hasPreloader } = Astro.props;
---

<div class="fixed inset-0 z-[9999] pointer-events-none flex">
  {
    /* <div class="seq_p_1 absolute w-full h-full flex items-center justify-center bg-Black-e-black-500 ">
        <div
          class={cn(
            containerClasses,
            "w-full flex flex-col justify-end pb-32"
          )}
        >
          <div class="overflow-hidden">
            <h1 class="el text-others-purple-1">Hola</h1>
          </div>
          <p class="text-white">LOADING...</p>
        </div>
      </div> */
  }
  <div class="overflow-hidden w-full">
    <div class="loaders_p w-full h-full bg-Black-e-black-500"></div>
  </div>
  <div class="overflow-hidden w-full">
    <div class="loaders_p w-full h-full bg-Black-e-black-500"></div>
  </div>
  <div class="overflow-hidden w-full">
    <div class="loaders_p w-full h-full bg-Black-e-black-500"></div>
  </div>
  <div class="overflow-hidden w-full">
    <div class="loaders_p w-full h-full bg-Black-e-black-500"></div>
  </div>
  <div class="overflow-hidden w-full">
    <div class="loaders_p w-full h-full bg-Black-e-black-500"></div>
  </div>
</div>

<script>
  import gsap from "gsap";
  const pTL = gsap.timeline({
    delay: 0.5,
    // onComplete: () => {
    //   activateScrollFunction();
    // },
  });

  pTL.to(".loaders_p", {
    xPercent: 110,
    duration: 1,
    stagger: {
      amount: 0.2,
      from: "start",
    },
    ease: "power4.in",
  });
</script>
