---
import type { EVENTS_QUERYResult } from "../../sanity.types";

type Project = EVENTS_QUERYResult extends Array<infer T> ? T : never;

interface ProjectCardProp {
  project: Project;
}
const { project } = Astro.props as ProjectCardProp;

import { urlForImage } from "../lib/sanity/urlForImage";
---

<a
  href={`/projects/${project.slug?.current}`}
  class={`w-full h-fit flex flex-col gap-3 hover:translate-y-[-20px] transition-all ease-[cubic-bezier(0.230, 1.000, 0.320, 1.000)] duration-[350ms] project_card`}
>
  <div class="w-full h-full">
    {
      project.image && (
        <img
          src={urlForImage(project.image).url()}
          alt="s"
          class=" w-full h-full aspect-[1/1.2] object-cover"
        />
      )
    }
  </div>
  <h5 class="leading-[140%] dark:text-others-text-dark">{project.name}</h5>
  <div>
    <div>
      <span class="flex gap-2 flex-wrap"
        >{
          project.category?.map((cat) => (
            <span class="px-3 py-2  border-[1.5px] border-slate-900 dark:border-white  dark:text-white rounded-full text-e-lg text-slate-900 font-semibold">
              {cat?.title}
            </span>
          ))
        }</span
      >
    </div>
  </div>
</a>

<!-- <script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const projectCard = document.querySelectorAll(".project_card");

  gsap.from(projectCard, {
    y: "400px",
    opacity: 0,
    duration: 0.8,
    stagger: 0.2,
    ease: "power2.out",
    scrollTrigger: {
      trigger: ".project_section",
      markers: true,
    },
  });
</script> -->
