---
import { Image } from "astro:assets";
import ProjectPageSLider from "../../components/react/ProjectPageSLider";
import Layout from "../../layouts/Layout.astro";
import { client } from "../../lib/sanity/sanity";
import { EVENTS_QUERY } from "../../lib/sanity/sanityQueries";
import { cn, containerClass } from "../../lib/utils";
import ProjectCard from "../../components/ProjectCard.astro";

const containerClasses = containerClass(true);

const getData = async () => {
  try {
    const projects = await client.fetch(EVENTS_QUERY);
    console.log(projects);
    return projects || [];
  } catch (err) {
    console.error("Error fetching all projects: " + err);
    return [];
  }
};

const projects = await getData();

console.log(projects);
---

<Layout title="Projects" showPreloaderBol={false}>
  <div class="overflow-hidden">
    <ProjectPageSLider client:visible data={projects} />
  </div>
  <div
    class={cn(
      containerClasses,
      "flex flex-col gap-16 !py-[80px] h-full overflow-hidden"
    )}
  >
    <div><h1>Our Work</h1></div>

    <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {projects.map((project) => <ProjectCard project={project} />)}
    </div>
  </div>
</Layout>
