---
import ProjectCard from "../components/ProjectCard.astro";
import { SplitTextAnim } from "../components/react/TextAnimations";
import Button from "../components/ui/Button.astro";
import { client } from "../lib/sanity/sanity";
import { EVENTS_QUERY } from "../lib/sanity/sanityQueries";
import { urlForImage } from "../lib/sanity/urlForImage";
import { cn, containerClass } from "../lib/utils";

const containerClasses = containerClass(true);

const getData = async () => {
  try {
    const projects = await client.fetch(EVENTS_QUERY);
    console.log(projects);
    return projects || [];
  } catch (err) {
    console.error("Error fetching all projects: " + err);
    return [];
  }
};

const projects = await getData();
---

<div class="h-full">
  <div class={cn(containerClasses, ` flex justify-center gap-16 `)}>
    <div class="w-full flex flex-col gap-16 h-full">
      <div class="flex justify-between">
        <div class="max-w-[750px]">
          <div class="text-e-3xl text-Red-e-red-500 el block md:hidden">
            Portfolio
          </div>
          <SplitTextAnim
            client:load
            text="Selected Projects"
            className=" leading-[100%] font-helvetica font-[500] dark:text-white"
            duration={1.5}
            wrapper="h1"
          />
        </div>
        <div class="space-y-2">
          <div class="text-e-3xl text-Red-e-red-500 el hidden md:block">
            Portfolio
          </div>
          <div class="hidden md:block">
            <Button title="See All Projects" href="/" />
          </div>
        </div>
      </div>

      <div class="w-full flex flex-col md:flex-row gap-16 min-h-full">
        {
          projects.slice(0, 3).map((project, index) => (
            <ProjectCard project={project} />
            // <a
            //   href={`/projects/${project.slug?.current}`}
            //   class={`w-full h-fit aspect-[1/1.2] flex flex-col gap-3`}
            // >
            //   <div class=" w-full h-full">
            //     {project.image && (
            //       <img
            //         src={urlForImage(project.image).url()}
            //         alt="s"
            //         class=" w-full h-full object-cover"
            //       />
            //     )}
            //   </div>
            //   <h5 class=" leading-[140%]">{project.name}</h5>
            // </a>
          ))
        }
        <div class="block md:hidden">
          <Button title="See All Projects" href="/" />
        </div>
      </div>
    </div>
  </div>
</div>
