---
import { SplitTextAnim } from "../components/react/TextAnimations";
import Button from "../components/ui/Button.astro";
import { containerClass, cn } from "../lib/utils";
import { ServiceSectionReact } from "../components/react/ServiceSection";

const containerClasses = containerClass(false);

const services = [
  {
    title: "Photography",
    image: "/sample.png",
  },
  {
    title: "Videography",
    image: "/sample.png",
  },
  {
    title: "Motion & Graphic Design",
    image: "/sample.png",
  },
  {
    title: "Animation",
    image: "/sample.png",
  },
  {
    title: "Branding",
    image: "/sample.png",
  },
  {
    title: "Digital Marketing",
    image: "/sample.png",
  },
  {
    title: "Content Creation",
    image: "/sample.png",
  },
  {
    title: "Signage & Billboard Installation",
    image: "/sample.png",
  },
  {
    title: "Copywriting",
    image: "/sample.png",
  },
  {
    title: "Web Design",
    image: "/sample.png",
  },
  {
    title: "Media & Ad Buying",
    image: "/sample.png",
  },
];
---

<div class="">
  <ServiceSectionReact client:visible />
</div>
