---
import { SplitTextAnim } from "../components/react/TextAnimations";
import Button from "../components/ui/Button.astro";
import { containerClass } from "../lib/utils";

const containerClasses = containerClass(true);

const services = [
  {
    title: "Photography",
    image: "/sample.png",
  },
  {
    title: "Videography",
    image: "/sample.png",
  },
  {
    title: "Motion & Graphic Design",
    image: "/sample.png",
  },
  {
    title: "Animation",
    image: "/sample.png",
  },
  {
    title: "Branding",
    image: "/sample.png",
  },
  {
    title: "Digital Marketing",
    image: "/sample.png",
  },
  {
    title: "Content Creation",
    image: "/sample.png",
  },
  {
    title: "Signage & Billboard Installation",
    image: "/sample.png",
  },
  {
    title: "Copywriting",
    image: "/sample.png",
  },
  {
    title: "Web Design",
    image: "/sample.png",
  },
  {
    title: "Media & Ad Buying",
    image: "/sample.png",
  },
];
---

<div class="bg-[#E6E6E6]">
  <div class={`${containerClasses} flex flex-col md:flex-row gap-16 `}>
    <div class="w-full min-h-[436px] mdLh-full flex-1 bg-slate-300"></div>

    <div class="w-full flex-1 flex flex-col gap-11 justify-between">
      <div>
        <div class="el-cover overflow-hidden">
          <div class="text-e-3xl text-Red-e-red-500 el">Services</div>
        </div>
        <div class="max-w-[750px]">
          <SplitTextAnim
            client:load
            text="Our Services"
            className=" leading-[100%] font-helvetica font-[500]"
            duration={1.5}
            wrapper="h1"
          />
        </div>
      </div>

      <div class="space-y-11">
        <div class="flex flex-wrap gap-2">
          {
            services.map((service, index) => (
              <button
                class={`${!service.title && "bg-[#471D86] "} border border-black text-e-2xl p-3 rounded-full text-black`}
              >
                {service.title}
              </button>
            ))
          }
        </div>
        <div><Button title="Let's Start a Conversation" href="/" /></div>
      </div>
    </div>
  </div>
</div>
