---
import { SplitTextAnim } from "../components/react/TextAnimations";
import { cn, containerClass } from "../lib/utils";
import TeamSlider from "../components/react/TeamSlider";

const containerClasses = containerClass(false);

const teams = [
  {
    name: "Chrisben Nii",
    title: "Photographer",
    image: "/sample.png",
  },
  {
    name: "Afrakuma",
    title: "Social Media Manager",
    image: "/sample.png",
  },
  {
    name: "Frank",
    title: "Photographer",
    image: "/sample.png",
  },
  {
    name: "Dove",
    title: "Graphic Designer",
    image: "/sample.png",
  },
  {
    name: "Korea",
    title: "Social Media Manager",
    image: "/sample.png",
  },
];
---

<div>
  <TeamSlider client:load />
</div>
