---
const { title = "not set", showPreloaderBol = true } = Astro.props;

import { ClientRouter } from "astro:transitions";
import PreLoader from "../components/PreLoader.astro";
import Header from "../components/ui/Header.astro";
import "../styles/global.css";
import Footer from "../components/ui/Footer.astro";
import ReactLoader from "../components/react/ReactLoader";
const showPreloader = showPreloaderBol; // Set this dynamically based on loading state
import StoreApiData from "../components/react/StoreApiData";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- <ClientRouter /> -->
    <title>{title}</title>
  </head>
  <body class="w-full h-full">
    <StoreApiData client:load />
    <!-- <PreLoader hasPreloader={showPreloader} /> -->
    <!-- <ReactLoader client:load /> -->
    <Header />
    <main class="w-full min-h-full">
      <slot />
    </main>
    <Footer />
    <script>
      import gsap from "gsap";
      const animateInStacked = document.querySelectorAll(".animate_in_stacked");
      const animateInView = document.querySelectorAll(".animate_in_view");

      gsap.from(animateInStacked, {
        y: "400px",
        opacity: 0,
        duration: 0.8,
        stagger: 0.2,
        ease: "power2.out",
        scrollTrigger: {
          trigger: ".animate_in_stacked",
        },
      });
      gsap.from(animateInView, {
        y: "400px",
        opacity: 0,
        duration: 0.8,
        stagger: 0.2,
        ease: "power2.out",
        scrollTrigger: {
          trigger: ".animate_in_view",
        },
      });
      console.log(animateInStacked);
    </script>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
