---
import Footer from "../components/ui/Footer.astro";
import Header from "../components/ui/Header.astro";
---

<Header />
<main class="dark:bg-[#1a1a1a] w-full min-h-full">
  <slot />
  <Footer />
</main>
