---
import ReactLoader from "../components/react/ReactLoader";
import Footer from "../components/ui/Footer.astro";
import Header from "../components/ui/Header.astro";
---

<Header />
<main class="dark:bg-Black-e-black-500 w-full min-h-full">
  <slot />
  <Footer />
</main>
