---
import logoImage from "../../assets/logo.svg";
import { containerClass } from "../../lib/utils";
import { Link } from "../react/Link";
import { ArrowUpRight, Copyright } from "@phosphor-icons/react";
import { SplitTextAnim } from "../react/TextAnimations";
import NavSideBar from "../react/NavSideBar";
import { useNavClicked } from "../../lib/zustand/store";
import Magnet from "../react/reactbits/Magnet";
import { ThemeToggleButton } from "../react/ThemeToggleButton";

const containerClasses = containerClass(false);

// const { isClicked } = useNavClicked();
---

<div
  class="fixed w-full left-0 right-0 top-0 z-[999] dark:border-opacity-20 border-b-[0.5px] border-e-Black-e-black-300 bg-white dark:bg-Black-e-black-500"
>
  <nav
    class={`${containerClasses} flex justify-between items-center p-4 w-full`}
  >
    <div class="logo">
      <Link href="/">
        <img src={logoImage.src} alt="logo" />
      </Link>
    </div>
    <ul class="hidden md:flex items-center">
      <li>
        <Link href="/">
          <p class="dark:text-white">Home</p>
        </Link>
      </li>
      <li>
        <Link href="/about">
          <p class="dark:text-white">About</p>
        </Link>
      </li>
      <li>
        <Link href="/projects">
          <p class="dark:text-white">Projects</p>
        </Link>
      </li>
      <li>
        <Link href="/projects">
          <p class="dark:text-white">Careers</p>
        </Link>
      </li>
    </ul>
    <div class="flex items-center gap-6">
      <Magnet client:visible padding={50} disabled={false} magnetStrength={10}>
        <Link href="/about" className="text-black flex items-center gap-2">
          <span
            class="w-9 bg-Red-e-red-500 aspect-square flex items-center justify-center rounded-full"
          >
            <ArrowUpRight color="white" width={18} height={18} /></span
          >
          <span class="text-lg font-helvetica font-semibold dark:text-white"
            >Let's Talk</span
          >
        </Link>
      </Magnet>

      <div class="hidden md:block"><ThemeToggleButton client:load /></div>
      <div class="block md:hidden"><NavSideBar client:visible /></div>
    </div>
  </nav>

  <style is:global>
    ul {
      list-style: none;
      display: flex;
      gap: 12px;
    }
  </style>
</div>
